analytics page
<br/>
<br/>
<%#=
Bug
how to create your coaching frameworks
Volume :1

query
Volume :how to snippet a call

placing calls in salesforce
Volume :2

how to snippet a call
Volume :1
%>


<ul>
  <% @formatted_keywords.each do |keyword,count| %>
    <li>
     <span> <%= keyword%></span>
     <br/>
     <span> Volume :<%= count%></span>
    </li>
     <br/>
  <% end %>
</ul>

<%= link_to "Homepage", "/" %>
