
<% if @articles.length == 0 %>
  <div class="dropdown">Nothing here</div>
<% else %>
  <%= turbo_frame_tag "articles" do %>
   <div class="dropdown">
    <%= render @articles %>
   </div>
  <% end %>
<% end %>
