<div id="header" class="white">


  <%= render :partial => "shared/navbar" %>
  <div class="search-container">
    <h1>ADVICE & SUPPORT FROM OUR TEAM</h1>


     <div class="search-bar">
      <form data-controller="form-submission" data-turbo-frame="articles" data-turbo-action="advance" action="/articles" accept-charset="UTF-8" method="get" data-np-checked="1" data-np-autofill-type="other">
        <div class="search-input">
          <span class="icon" style="font-size:18px;display:block;height:auto;width:auto;padding-right:0.5rem"> <i class="fa-solid fa-magnifying-glass"></i> </span>
          <input data-action="input->form-submission#search" type="text" name="query" id="query" data-np-checked="1">
        </div>
        </form>
        <% if @show_dropdown %>
        <%= render "articles", articles: @articles %>
      <% end %>
    </div>


    <h3 style="margin-top:1rem">ASK QUESTIONS, FIND ARTICLES, CHAT WITH US</h3>
  </div>
  <div class="grid-container">
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
    <div class="card">
      <span class="icon"> <i class="fa-solid fa-house"></i> </span>
      <span>COACHING</span>
    </div>
  </div>
</div>
