/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  font-family: "Muli",sans-serif;
  height: 100%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

tbody{
  width: 100%;
}

td,th{
 padding: 0.5rem 1.5rem;
  text-align: center;
}

h1,h2{
  margin:0.5rem 0
}

 #query{
  display: block;
  margin-bottom: 1rem;
 }

#header{
  background: #DD1C5D;
  height: 40vh;

}

.search-container{
  max-width:1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.white{
  color: white;
}

.temporary{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.icon{
  font-size: 50px;
  font-weight: 300;
  height: 82px;
  width: 82px;
  color:tomato;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.analytics-container{
   max-width:1440px;
   margin: 5rem auto;
}